    
version: '3'
services: 
  web: 
    depends_on: 
      - db
    build: .
    ports: 
      - "5000:80"
    env_file:
      - production.env
    links: 
      - db:db
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: mypass